/*! -- Modal styles----------------------------- */
body.compensate-for-scrollbar {
	overflow: unset;
	margin-right: 0;
}

.modal {
	width: 100%;
	max-width: 1116px;
	height: 741px;

	&--gallery {
		height: auto;
	}

	&.fancybox-content {
		padding: 32px;
		overflow: visible;
	}

	&__image-holder {
		width: 100%;
		height: 100%;

		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}

	.fancybox-button {
		background-color: $sand-source;
		border-radius: 50%;
		top: -16px;
		right: -16px;
		opacity: 1;

		svg {
			path {
				fill: #fff;
			}
		}
	}
}




@media (max-width:$md1) {
	/*! -- Modal styles----------------------------- */


	.fancybox-slide--html {
		padding: 16px;
	}

	.modal {
		&.fancybox-content {
			padding: 25px;
			overflow: hidden;
			border-radius: 4px;
		}

		.fancybox-button {
			padding: 4px;
			width: 34px;
			height: 34px;
			top: 8px;
			right: 8px;
		}
	}

	.modal--gallery {
		&.fancybox-content {
			padding: 16px;

		}
	}
}