/*! -- Announcement styles----------------------------- */
.announcement {
	padding: 64px 190px 64px 42px;
	&__container {
		display: flex;
		flex-direction: row;
	}
}

@media (max-width: $md1) {
	/*! -- Announcement styles----------------------------- */
	.announcement {
		padding: 64px 0px;
		&__container {
			display: flex;
			flex-direction: row;
		}
	}
}
