/*! -- Announcement styles----------------------------- */
.announcement {
	padding: 63px 190px 62px 42px;
	border-top: 1px solid $cosmic-100;
	background-color: $cosmic-50;

	&__container {
		display: flex;
		flex-direction: row;
	}
}

@media (max-width: $md1) {

	/*! -- Announcement styles----------------------------- */
	.announcement {
		padding: 63px 0px 64px;

		&__container {
			display: flex;
			flex-direction: row;
		}
	}
}