/*! -- Graphic styles----------------------------- */

.test {
	height: 648px;
}

.graphic {
	padding: 128px 0px 62px;
	position: relative;
	height: 100vh;
	min-height: 750px;

	&::before {
		content: "";
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		background-image: url("../img/graphic-bg.jpg");
		background-position: center center;
		background-size: cover;
		background-repeat: no-repeat;
		width: 100%;
		height: 100%;
	}

	&__subtitle {
		letter-spacing: 0.64px;
	}

	&__text {
		font-size: 28px;
		font-weight: 300;
		line-height: 35px;
		letter-spacing: 1.12px;
	}



	&__container {
		position: relative;
		z-index: 1;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		height: 100%;
	}

	.dynamic-left {
		min-width: 42px;
		max-width: 190px;
		flex: 1;
		align-self: stretch;
	}

	.dynamic-right {
		min-width: 42px;
		max-width: 190px;
		flex: 1;
		align-self: stretch;
	}

	&__row {
		display: flex;
	}

	&__content {
		flex: 1;
		min-width: 1116px;
		max-width: 1540px;
		display: flex;

		&--top {
			flex-direction: row;
			column-gap: 24px;
		}

		&--bottom {
			flex-direction: column;
			row-gap: 16px;
		}
	}

	&__description {
		max-width: 447px;
		width: 100%;
		letter-spacing: 0.64px;
	}

	&--sand-1 {
		padding: 64px 0px 96px;
		min-height: auto;
		height: auto;
		color: $sand-50;

		.graphic__description {
			width: 100%;
			max-width: 633px;
		}

		.graphic__container {
			row-gap: 633px;
		}

		.author__position {
			color: $sand-50;
		}

		.author-message::after {
			background: rgba(255, 255, 255, 0.15);
		}

		&::before {
			top: unset;
			background-image: url("../img/graphic-sand-1-bg.jpg");
			height: 1400px;
		}

		.graphic__content--bottom {
			width: 100%;
			max-width: 380px;
			min-width: auto;
			margin-left: auto;
		}
	}


	&--sand-2 {
		padding: 96px 0px 64px;
		min-height: auto;
		height: auto;
		color: $sand-50;
		overflow: hidden;

		.graphic__container {
			row-gap: 622px;
		}

		.author__position {
			color: $sand-50;
		}

		&::before {
			background-image: url("../img/graphic-sand-2-bg.jpg");
		}

		&::after {
			content: '';
			position: absolute;
			bottom: -152px;
			left: -290px;
			width: 2500px;
			height: 340px;
			background: #111;
			filter: blur(75px);
		}

		.author-message::after {
			background: rgba(255, 255, 255, 0.15);
		}


	}


}

@media (max-width: $md1) {

	.graphic {
		padding: 256px 0px 64px;
		height: auto;
		min-height: auto;

		&::before {
			background-image: url("../img/graphic-bg-1199.jpg");
		}

		&__subtitle {
			font-size: 12px;
			line-height: 18px;
			letter-spacing: 0.48px;
		}

		&__text {
			font-size: 16px;
			font-weight: 400;
			line-height: 26px;
			letter-spacing: 0.64px;
		}

		&--sand-1 {
			padding: 64px 0px 96px;
			min-height: 614px;

			&::before {
				background-image: url("../img/graphic-sand-bg-1-1199.jpg");
				height: 1199px;
			}

			.graphic__container {
				row-gap: 0px;
				justify-content: space-between;
				height: 100%;
				min-height: inherit;
			}

			.graphic__content--bottom {
				margin-left: unset;
				max-width: 100%;
			}
		}

		&--sand-2 {
			padding: 64px 0px 64px;
			min-height: 684px;

			&::before {

				background-image: url("../img/graphic-sand-bg-2-1199.jpg");
				background-position: 58% center;
			}

			.graphic__container {
				row-gap: 0px;
				justify-content: space-between;
				height: 100%;
				min-height: inherit;
			}

			.author__text-holder {
				max-width: 100%;
			}


		}

		.dynamic-left {
			display: none;
		}

		.dynamic-right {
			display: none;
		}

		&__container {
			row-gap: 32px;
		}

		&__description {
			min-width: 256px;
			max-width: 512px;
			flex: 1;
			font-size: 12px;
			line-height: 18px;
			letter-spacing: 0.48px;
		}

		&__content {
			flex-wrap: wrap;
			min-width: unset;
			max-width: unset;

			&--top {
				row-gap: 24px;
			}
		}
	}
}