/*! -- Graphic styles----------------------------- */
.graphic {
	padding: 128px 0px 62px;
	position: relative;

	&::before {
		content: "";
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		background-image: url("../img/graphic-bg.jpg");
		background-position: center center;
		background-size: cover;
		background-repeat: no-repeat;
		width: 100%;
		height: 100%;
	}

	&__container {
		position: relative;
		z-index: 1;
		display: flex;
		flex-direction: column;
		row-gap: 568px;
	}

	.dynamic-left {
		min-width: 42px;
		max-width: 190px;
		flex: 1;
		align-self: stretch;
	}

	.dynamic-right {
		min-width: 42px;
		max-width: 190px;
		flex: 1;
		align-self: stretch;
	}

	&__row {
		display: flex;
	}

	&__content {
		flex: 1;
		min-width: 1116px;
		max-width: 1540px;
		display: flex;

		&--top {
			flex-direction: row;
			column-gap: 24px;
		}

		&--bottom {
			flex-direction: column;
			row-gap: 16px;
		}
	}

	&__description {
		max-width: 447px;
		width: 100%;
		letter-spacing: 0.64px;
	}
}

@media (max-width: $md1) {

	/*! -- Graphic styles----------------------------- */
	.graphic {
		padding: 256px 0px 64px;

		&::before {
			background-image: url("../img/graphic-bg-1199.jpg");
		}

		.dynamic-left {
			display: none;
		}

		.dynamic-right {
			display: none;
		}

		&__container {
			row-gap: 32px;
		}

		&__description {
			min-width: 256px;
			max-width: 512px;
			flex: 1;
			font-size: 12px;
			line-height: 18px;
			letter-spacing: 0.48px;
		}

		&__content {
			flex-wrap: wrap;
			min-width: unset;
			max-width: unset;

			&--top {
				row-gap: 24px;
			}
		}
	}
}