/*! -- Hero styles----------------------------- */

@media(min-width:1920px) {

	.hero {

		&--sand {
			background-size: cover;

			.house {
				display: none;
			}
		}

	}

}

.hero {
	min-height: 750px;
	height: 100vh;
	max-height: 1080px;
	position: relative;
	overflow: hidden;
	background-position: center center;
	background-size: cover;
	background-repeat: no-repeat;

	&__image-holder {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;

		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}


	&__container {
		display: flex;
		flex-direction: row;
		align-items: flex-end;
		height: 100%;
		padding: 0px 0px 128px 0px;
		position: relative;
		z-index: 5;
	}

	&__content {
		min-width: 579px;
		max-width: 865px;
		flex: 1;
	}

	.dynamic-left {
		min-width: 42px;
		max-width: 190px;
		flex: 1;
		align-self: stretch;
	}

	.dynamic-right {
		min-width: 579px;
		max-width: 865px;
		flex: 1;
		align-self: stretch;
	}

	&__title {
		color: $sand-50;
		font-family: "Felidae";
		font-size: 75px;
		font-weight: 400;
		line-height: 113px;
		letter-spacing: 4.5px;
	}

	&__subtitle {
		color: $sand-50;
		font-family: "Felidae";
		font-size: 39px;
		font-weight: 400;
		line-height: 59px;
		letter-spacing: 2.34px;
		margin: -8px 0px 16px 0px;
	}

	&__text {
		color: $sand-200;
		font-family: "Felidae";
		font-size: 22px;
		font-weight: 400;
		line-height: 33px;
		letter-spacing: 1.32px;
		margin: 0px 0px 48px 0px;
	}

	&-message {
		border-radius: 4px;
		background: $cosmic-source;
		max-width: 579px;
		width: 100%;
		position: relative;

		&::after {
			content: "";
			position: absolute;
			top: 50%;
			right: -12px;
			transform: translateY(-50%);
			background-image: url("../img/square.svg");
			background-position: center center;
			background-size: cover;
			background-repeat: no-repeat;
			width: 27px;
			height: 27px;
		}

		&__inner {
			padding: 16px 16px 24px 16px;
			display: flex;
			flex-direction: column;
			row-gap: 4px;
		}

		p {
			color: $sand-100;
			letter-spacing: 0.64px;
		}

		a {
			margin-left: auto;
			color: $cosmic-50;
		}
	}

	&--sand {
		padding: 233px 0px 32px;
		background-position: 50% 50%;
		background-size: 1920px 1024px;
		background-repeat: no-repeat;
		z-index: 1;

		.dust {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background-size: 200px 200px;
			background-repeat: repeat;
			z-index: 2;
		}

		// .house {
		// 	position: absolute;
		// 	top: calc(50% + 96px);
		// 	left: 50%;
		// 	transform: translate(-50%, -50%);
		// 	width: 602px;
		// 	height: 293px;
		// 	background-size: cover;
		// 	background-repeat: -no-repeat;
		// 	z-index: 2;
		// }

		.house {
			position: absolute;
			top: calc(50% + 96px);
			left: 50%;
			transform: translate(-50%, -50%);
			// width: 602px;
			// height: 293px;
			background-size: cover;
			background-repeat: -no-repeat;
			z-index: 2;

			img {
				width: 100%;
				height: 100%;
				object-fit: cover;
			}
		}

		&::before {
			content: '';
			position: absolute;
			top: -383px;
			left: -25%;
			width: 3000px;
			height: 761px;
			background: var(--additional-background, #111);
			filter: blur(130px);
			z-index: 2;
		}

		&::after {
			content: '';
			position: absolute;
			bottom: -363px;
			left: -25%;
			width: 3000px;
			height: 600px;
			background: var(--additional-background, #111);
			filter: blur(75px);
			z-index: 2;
		}

		.hero__container {
			align-items: normal;
			max-width: 1014px;
			width: 100%;
			padding: 0px 0px 0px 0px;
		}

		.hero__content {
			min-width: auto;
			max-width: 100%;
			text-align: center;
			display: flex;
			flex-direction: column;
			align-items: center;
		}

		.hero__title {
			font-size: 150px;
			font-weight: 400;
			line-height: 225px;
			letter-spacing: 9px;
			text-transform: uppercase;
		}

		.hero__subtitle {
			display: flex;
			flex-direction: row;
			column-gap: 8px;
			align-items: center;
			align-self: flex-end;
			font-size: 32px;
			line-height: 48px;
			letter-spacing: 1.92px;
			margin: -32px 0px 0px 0px;
		}

		.hero__text {
			margin: auto 0px 0px 0px;
			max-width: 400px;
			width: 100%;
			color: #eeeeee;
			font-size: 25px;
			font-weight: 400;
			line-height: 37.5px;
			letter-spacing: 6.25px;
		}
	}
}





@media(max-height: 800px) and (min-width: 1200px) {

	/*! -- Hero styles----------------------------- */
	.hero {
		&__container {
			align-items: center;
			padding: 0px 0px 0px 0px;
		}
	}
}

@media (max-width:$md1) {

	/*! -- Hero styles----------------------------- */
	.hero {
		height: auto;
		min-height: auto;
		padding: 128px 0px;
		margin: 64px 0px 0px 0px;

		.dynamic-left,
		.dynamic-right {
			display: none;
		}

		&__content {
			min-width: 256px;
			max-width: 704px;
		}

		&__title {
			font-size: 32px;
			line-height: 48px;
			letter-spacing: 1.92px;
			margin: 0px 0px 16px 0px;
		}

		&__subtitle {
			font-size: 24px;
			line-height: 36px;
			letter-spacing: 1.44px;
			margin: 0px 0px 24px 0px;
		}

		&__text {
			font-size: 20px;
			line-height: 30px;
			letter-spacing: 1.2px;
			margin: 0px 0px 24px 0px;
		}

		&-message {
			min-width: 256px;
			max-width: 336px;

			&::after {
				top: -12px;
				right: 50%;
				transform: translateX(50%)
			}

			&__inner {
				padding: 8px;
				row-gap: 8px;
			}

			p {
				font-size: 12px;
				line-height: 18px;
				letter-spacing: 0.48px;
			}

			a {
				color: $sand-source;

				svg {
					path {
						fill: $sand-source;
					}
				}
			}
		}

		&--sand {
			padding: 128px 0px 96px;
			min-height: 588px;

			.hero__container {
				min-height: inherit;
				padding: 0 32px;
			}

			.hero__title {
				font-size: 58px;
				line-height: 87px;
				letter-spacing: 3.48px;
				margin: 0px 0px 0px 0px;
			}

			.hero__subtitle {
				font-size: 22px;
				line-height: 33px;
				letter-spacing: 1.32px;
				margin: 0px 0px 0px 0px;
				align-self: center;
			}

			.hero__text {
				font-size: 22px;
				line-height: 33px;
				letter-spacing: 1.32px;
				max-width: 100%;
			}

			&::before {
				content: '';
				position: absolute;
				top: -288px;
				left: -25%;
				width: 2080px;
				height: 571px;
				background: #111;
				filter: blur(97.5px);
				z-index: 2;
			}

			.house {
				top: calc(50% + 107px);
				height: 291px;
				width: 1199px;
			}

			&::after {
				content: '';
				position: absolute;
				bottom: -231px;
				left: -25%;
				width: 2080px;
				height: 450px;
				background: #111;
				filter: blur(56.25px);
				z-index: 2;
			}
		}
	}

}