/*! -- Sustainability styles----------------------------- */
.sustainability {
	position: relative;
	padding: 64px 0px 518px;
	&::before {
		content: "";
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		background-image: url("../img/sustainability-bg.jpg");
		background-position: center center;
		background-size: cover;
		background-repeat: no-repeat;
		width: 100%;
		height: 100%;
		z-index: -1;
	}
	.dynamic-left {
		min-width: 42px;
		max-width: 190px;
		flex: 1;
		align-self: stretch;
	}
	.dynamic-right {
		min-width: 42px;
		max-width: 190px;
		flex: 1;
		align-self: stretch;
	}
	&__title {
		color: $sand-source;
	}
	&__container {
		display: flex;
		flex-direction: column;
		row-gap: 98px;
	}
	&__row {
		display: flex;
		flex-direction: row;
		&--items {
			.dynamic-right {
				width: 190px;
				min-width: 190px;
				max-width: 190px;
				align-self: stretch;
				flex-shrink: 0;
			}
		}
	}
	&__content {
		flex: 1;
		display: flex;
		flex-direction: column;
		row-gap: 16px;
		min-width: 1116px;
		max-width: 1540px;
		&--items {
			row-gap: 48px;
			min-width: 926px;
			max-width: 1540px;
			flex: 1;
		}
	}
	&__items {
		display: flex;
		flex-direction: row;
		align-items: flex-start;
		align-self: stretch;
		gap: 24px;
		position: relative;
		&--mobile {
			display: none;
		}
		&:first-child {
			&::after {
				content: "";
				position: absolute;
				bottom: -24px;
				left: 0;
				width: 100%;
				height: 1px;
				background-color: $cosmic-100;
			}
		}
	}
	&__item {
		display: flex;
		flex: 1;
		position: relative;
		&::after {
			content: "";
			position: absolute;
			top: 0;
			right: -24px;
			width: 1px;
			height: 100%;
			background-color: $cosmic-100;
		}
		&:last-child {
			&::after {
				display: none;
			}
		}
	}
	&__inner {
		width: 100%;
		padding: 24px 0px;
		text-align: center;
		letter-spacing: 0.64px;
	}
	&__svg-holder {
		display: flex;
		justify-content: center;
		margin: 0px 0px 16px 0px;
	}
}

@media (max-width: $md1) {
	/*! -- Sustainability styles----------------------------- */
	.sustainability {
		padding: 64px 0px 384px;
		&::before {
			background-image: url("../img/sustainability-bg-1199.jpg");
		}
		&__container {
			row-gap: 32px;
		}
		.dynamic-left,
		.dynamic-right {
			display: none;
		}

		&__items {
			display: none;
			flex: 1;
			gap: 16px;
			flex-wrap: wrap;
			justify-content: center;
			&--mobile {
				display: flex;
			}
			&::after {
				display: none;
			}
		}
		&__item {
			min-width: 103px;
			max-width: 256px;
			&::after {
				display: none;
			}
		}
		&__content {
			min-width: unset;
			max-width: unset;
			&--items {
				min-width: unset;
				max-width: unset;
				flex-direction: row;
			}
		}
		&__inner {
			font-size: 12px;
			line-height: 18px;
			letter-spacing: 0.48px;
			padding: 16px 0px;
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
		}
		&__svg-holder {
			width: 32px;
			height: 32px;
			svg {
				display: flex;
				width: 100%;
				height: 100%;
				object-fit: cover;
			}
		}
	}
}

@media (max-width: $md3) {
	/*! -- Sustainability styles----------------------------- */
	.sustainability {
		&::before {
			background-image: url("../img/sustainability-bg-767.jpg");
		}
	}
}
