@import "fonts";
@import "base/mixins";

$cosmic-source: rgb(51, 51, 51);
$cosmic-900: #393939;
$cosmic-800: #4b4b4b;
$cosmic-700: #5e5e5e;
$cosmic-600: #727272;
$cosmic-500: #868686;
$cosmic-400: #9b9b9b;
$cosmic-300: #b0b0b0;
$cosmic-200: #c6c6c6;
$cosmic-100: #dddddd;
$cosmic-50: #f3f3f3;

$eco-source: rgb(79, 91, 63);
$eco-900: #343c2a;
$eco-800: #454f38;
$eco-700: #576247;
$eco-600: #6a7659;
$eco-500: #7e8b6d;
$eco-400: #949f83;
$eco-300: #aab49c;
$eco-200: #c1c9b6;
$eco-100: #dadfd2;
$eco-50: #f2f4f0;

$sand-source: rgb(148, 118, 77);
$sand-900: #48361d;
$sand-800: #5e4727;
$sand-700: #745a34;
$sand-600: #8a6d45;
$sand-500: #a08158;
$sand-400: #b49670;
$sand-300: #c7ac8b;
$sand-200: #d9c3a9;
$sand-100: #e9dbca;
$sand-50: #f8f3ed;

$additional-source: #111111;

$fontFamily: "Roboto", sans-serif;
$fontSize: 16px;

$minWidth: 320px;
$maxWidth: 1920px;
$maxWidthContainer: 1148px;
$md1: 1199px;
$md2: 1024px;
$md3: 767px;
$md4: 575px;

@import "base/null";

body {
	&.lock {
		overflow: hidden;
	}

	font-family: $fontFamily;
	font-size: $fontSize;
	font-weight: 300;
	line-height: 24px;
	color: $cosmic-source;
	background-color: rgb(51, 51, 51);
}

.wrapper {
	width: 100%;
	min-height: 100%;
	overflow: hidden;
	display: flex;
	flex-direction: column;
	position: relative;
}

.container {
	width: 100%;
	max-width: 100%;
	margin: 0 auto;
	padding: 0;

	@media (max-width: $md1) {
		padding: 0 32px;
	}

	@media (max-width: $md2) {}

	@media (max-width: $md3) {}

	@media (max-width: $md4) {}
}

.content {
	flex: 1 1 auto;
}

.label-agency {
	position: absolute;
	bottom: 0;
	left: 0;
	display: flex;
}

.title {
	font-family: "Felidae";
	font-size: 24px;
	font-style: normal;
	font-weight: 400;
	line-height: 34px;
	letter-spacing: 6px;
	text-decoration-line: underline;
	text-transform: uppercase;
}



@media (min-width: $md1) {
	*::-webkit-scrollbar {
		width: 5px;
		height: 8px;
		background-color: #222426;
	}

	*::-webkit-scrollbar-thumb {
		background: #2E3033;
	}
}

@media (max-width: $md1) {
	.label-agency {
		right: 0;
		left: unset;
	}

	.title {
		font-size: 16px;
		line-height: 22px;
		letter-spacing: 4px;
	}
}





@import "base/animate";
@import "base/links";
@import "base/modal";
@import "base/buttons";
@import "base/trigger";
@import "base/author";
@import "base/badge";
@import "base/accordion";
@import "base/social";
@import "blocks/header";
@import "blocks/hero";
@import "blocks/sidemenu";
@import "blocks/graphic";
@import "blocks/vision";
@import "blocks/sustainability";
@import "blocks/projects";
@import "blocks/announcement";
@import "blocks/team";
@import "blocks/gallery";
@import "blocks/banner";
@import "blocks/footer";